extends layout
block main
    a(href='/suggestions') Назад
    h1=suggestion.title
    h2 Проголосовавшие
    ul
        for voter in [...suggestion.voters]
            li=voter

    form(method='POST')
        if suggestion.voters.has(username) 
            button(type='submit') Отменить голос
        else
            button(type='submit') Проголосовать
